<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="spread-header">
    <div class="header-branding">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/Angular-Logo-Transparent.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Toolbox
      </a>
    </div>
    <div class="header-navigation">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/">API Calls</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/">UI Libraries</a>
          </li>
          <li routerLinkActive="active" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Subscription
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/subscription/bootstrap/states">Bootstrap</a>
              <a class="dropdown-item" routerLink="/subscription/material/states">Material</a>
            </div>
          </li>
          <li routerLinkActive="active" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Promise
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/promise/primeng/states">PrimeNG</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
